body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Card-List {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.Card-Poke { 
  border: rgb(81, 219, 219) solid 5px;
  display: flex;
  margin: 15px;   
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgU6zRzeksquzcoEg2e3O7MbaSzgMjh72svA&usqp=CAU');  
  border-radius: 5%;
  height: 250px;
  width: 200px;
  flex-direction: column;
  align-items: center;
}

img {
  background-color: rgba(255, 255, 255, 50%);
  border-radius: 50px;
}
