body {
  background-image: url(https://www.novaragnarok.com/themes/new/img/wall/NovaRO_Mom.png);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.transparencia {
  background-color: transparent;
}

.espaço {
  margin: 50px auto;
}
